<div class="d-flex justify-content-center">
  <h1>Your new list</h1>
</div>

<div class="card w-50">
  <%= simple_form_for @list do |f| %>
    <h5 class="card-title"> <%= f.input :name %></h5>
    <%= f.button :submit, class: 'btn btn-primary d-flex col-3 justify-content-center' %>
  <% end %>
</div>
