.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navigation {
//   position: fixed;
//   top: 0;
//   background-color: #F5F7F8;
//   box-shadow: 2px 0px 1px black;
//   z-index: 1;
// }
