<div class="container-fluid navigation">

  <nav class="navbar d-flex">
    <div class="d-flex justify-content-start align-items-center">
      <%= image_tag 'watching-a-movie.png', width: '50px', class: 'ms-3 mt-3' %>
      <h1 class="ms-3 mt-3 navbar-brand">Welcome to MakeYourList</h1>
    </div>

    <%= link_to 'Add a list', new_list_path, class: 'me-3 btn btn-primary' %>


  </nav>
</div>
