<div class="container-fluid p-0">

  <nav class="navbar d-flex justify-content-space-around">

    <%= image_tag 'watching-a-movie.png', width: '50px', class: 'ms-3 mt-3' %>
      <h1 class="ms-3 mt-3 navbar-brand">Welcome to MakeYourList</h1>
    
    <%= link_to 'Add a list', new_list_path, class: 'me-3 btn btn-primary' %>


  </nav>
</div>
